Source: smemstat
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.2
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libncurses-dev,
               libncursesw5-dev
Homepage: https://github.com/ColinIanKing/smemstat

Package: smemstat
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: memory usage monitoring tool
 Smemstat reports the physical memory usage taking
 into consideration shared memory.  The tool can
 either report a current snapshot of memory usage
 or periodically dump out any changes in memory.
